.nbcLink,.cbsLink,.foxLink{text-transform: lowercase !important;}
.media-logos-main-box{width: 100%; height: auto;padding: 20px;}
.mt_30{margin-top: -30px;}
.cus-img-us{height: 36px !important;}
.em_h{margin-top: 5px;}